<!doctype html>
<html>
<style>
    .d1 {
        padding-left:2em;
        border: 3px solid black;
        background-color: #0d1117;
        
    }
    
    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }
</style>

 <body style="background-color: rgb(44, 43, 43);">
  <div class="d1">
    <span style="color: #c9d1d9;">
        <h1>MARLon</h1>
        <h2><span style="color:rgb(126, 17, 17);">Attacker ID: XXXX</span> &emsp; <span style="color: blue;">Defender ID: XXXX</span> &emsp; Current Score: XXXX</h2>
        <div id='chart' class='chart'”></div>

        <br/>
        <form action="/upload-file" method="POST" enctype="multipart/form-data">
            <strong><label>Select Attacker File</label></strong>
            <input type="file" class="custom-file-input" name="attackerFile" id="aFile">
            <br/><br/>
            <strong><label>Select Defender File</label></strong>
            <input type="file" class="custom-file-input" name="defenderFile" id="dFile">
            <button type="submit" class="button button1">Simulate</button>
        </form>
        <br/>

        <button id="btnPrevious" disabled>Previous</button>
        <span id="spnProgress"></span>
        <button id="btnNext">Next</button>
        <br/><br/>
    </span>
  </div>    
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    async function renderGraph (index) {
        let response = await fetch('sim/' + index)
        let graphs = await response.json()
        Plotly.newPlot('chart',graphs,{});
    }

    async function updateGraph () {
        await renderGraph(index);

        if (index == max_sim) {
            btnNext.disabled = true;
            btnPrevious.disabled = false;
        } else if (index == 0) {
            btnNext.disabled = false;
            btnPrevious.disabled = true;
        } else {
            btnNext.disabled = false;
            btnPrevious.disabled = false;
        }

        spnProgress.textContent = (index + 1) + '/' + (max_sim + 1);
    }

    var max_sim = {{max_sim | safe}}
    var index = 0;

    var spnProgress = document.getElementById("spnProgress");

    var btnNext = document.getElementById("btnNext");
    btnNext.onclick=async () => {
        ++index;
        await updateGraph();
    }

    var btnPrevious = document.getElementById("btnPrevious");
    btnPrevious.onclick=async () => {
        --index;
        await updateGraph();
    }

    
    updateGraph();
  </script>
</html>