<!doctype html>
<html>
 <body>
  <h1>MARLon</h1>
  <div id='chart' class='chart'”></div>
  <button id="btnPrevious" disabled>Previous</button>
  <span id="spnProgress"></span>
  <button id="btnNext">Next</button>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    async function renderGraph (index) {
        let response = await fetch('sim/' + index)
        let graphs = await response.json()
        Plotly.newPlot('chart',graphs,{});
    }

    async function updateGraph () {
        await renderGraph(index);

        if (index == max_sim) {
            btnNext.disabled = true;
            btnPrevious.disabled = false;
        } else if (index == 0) {
            btnNext.disabled = false;
            btnPrevious.disabled = true;
        } else {
            btnNext.disabled = false;
            btnPrevious.disabled = false;
        }

        spnProgress.textContent = (index + 1) + '/' + (max_sim + 1);
    }

    var max_sim = {{max_sim | safe}}
    var index = 0;

    var spnProgress = document.getElementById("spnProgress");

    var btnNext = document.getElementById("btnNext");
    btnNext.onclick=async () => {
        ++index;
        await updateGraph();
    }

    var btnPrevious = document.getElementById("btnPrevious");
    btnPrevious.onclick=async () => {
        --index;
        await updateGraph();
    }

    updateGraph();
  </script>
</html>